window {
  margin: 0px;
  border: 2px solid #5e81ac;
  background-color: #2e3440;
  border-radius: 12px;
}

#entry {
  padding: 6px;
  border-radius: 8px;
  color: white;
}

#entry:selected {
  background-color: #5e81ac;
  color: white;
}

#input {
  margin: 5px;
  border: none;
  padding: 8px;
  font-size: 16px;
  background-color: #3b4252;
  color: white;
}
